/*-----GENERAL STYLING----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: rgb(19, 3, 78);
}

.container {
  width: 770px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.header {
  background-color: rgb(13, 61, 148);
  height: 15%;
}
.footer {
  height: 10%;
  background-color: rgb(13, 61, 148);
}

h2 {
  font-size: 1.2rem;
  color: #fff;
}

h3 {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: -4px;
}

p {
  font-size: 18px;
  font-weight: 600;
}

/* -------MAIN TICKET ------ */
.main {
  width: 70%;
  height: 100%;
  float: left;
  border-right: 1px dashed rgb(100, 99, 99);
  background-image: url(../images/world-map.jpg);
  background-position: center;
  background-blend-mode: soft-light;
}

.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 40px;
  width: auto;
  background-color: rgb(255, 255, 255);
}

.code {
  height: 60px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  float: right;
  position: relative;
  top: -10px;
  right: -40px;
}

.passenger,
.depart,
.midline-details,
.baseline-details {
  margin: 30px 20px;
}

.midline-details,
.baseline-details {
  display: flex;
  justify-content: space-between;
}
.baseline-details {
  margin-bottom: 10px;
}
/* --------STUB------ */
.stub {
  width: 30%;
  height: 100%;
  float: right;
  background-image: url(../images/world-map.jpg);
}

.stub h2 {
  text-align: center;
  padding-top: 7px;
}
