* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 800px;
  height: 350px;
}
.logo {
  height: 80px;
  width: auto;
  margin-top: -15px;
}
