/*-----GENERAL STYLING----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: rgb(19, 3, 78);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: aliceblue;
  height: 100vh;
}

.information {
  padding: 80px;
  text-align: center;
}
label {
  font-size: 1.4rem;
}

input {
  width: 40%;
  height: 35px;
  margin: 15px;
}

span {
  font-size: 12px;
  font-style: italic;
}
.ticket {
  width: 770px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.header {
  background-color: rgb(10, 46, 112);
  height: 15%;
}
.footer {
  height: 10%;
  background-color: rgb(10, 46, 112);

}

h2 {
  font-size: 1.2rem;
  color: #fff;
}

h3 {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: -4px;
}

p {
  font-size: 18px;
  font-weight: 600;
}

/* -------MAIN TICKET ------ */
.main {
  width: 70%;
  height: 100%;
  float: left;
  border-right: 1px dashed rgb(100, 99, 99);
  background-image: url(../images/world-map.jpg);
  background-position: center;
  background-blend-mode: soft-light;
}

.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.carrier {
  color: rgb(200, 228, 241);
  font-style: italic;
  margin-left: -175px;
}
.logo {
  height: 40px;
  width: auto;
  background-color: rgb(255, 255, 255);
}

.code {
  height: 60px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  float: right;
  position: relative;
  top: 15px;
  right: -40px;
}

.passenger,
.depart,
.midline-details,
.baseline-details {
  margin: 15px 20px;
}

.midline-details,
.baseline-details {
  display: flex;
  justify-content: space-between;
}

.baseline-details {
  margin-top: 20px;
  margin-bottom: 12px;
  width: 70%;
}
/* --------STUB------ */

.stub {
  width: 30%;
  height: 100%;
  float: right;
  background-image: url(../images/world-map.jpg);
}
.stub h2 {
  text-align: center;
  padding-top: 7px;
}
.stub .h3 {
  font-size: 10px;
}
.stub p {
  font-size: 13px;
  font-weight: 600;
}

.stub .passenger,
.stub .depart,
.stub .location,
.stub .midline-details,
.stub .baseline-details {
  margin: 10px 20px;
}
.stub .midline-details {
  margin-bottom: 10px;
  width: 80%;
}

.stub .baseline-details {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 20px;
}
